.contacto {
  background-color: #ffffff;
  margin: 30px;
  color: #3a3a3a;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.titulos {
  display: flex;
  flex-direction: column;
 
  color:black;
  width:486px;

}
.mediosContacto {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

.redesContacto {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.form {
  margin-top: 60px;
}

.input {
  margin-bottom: 24px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px;
  background-color: white;
  width: 486px;
  min-height: 48px;
  padding-left: 20px;
}

#botonForm {
  display: flex;
  justify-content: center;
}

#textArea{
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .contacto{
    width:auto;
    display: flex;
    flex-direction: column;
  }

  .titulos{
    width: 300px;
  }
  .form {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .input {
    width: 300px;
  }
}
