.tarjeta {
    background-color: darkcyan;
    border-color: beige;
    width: 300px;
    height: 450px;
    margin: 6px !important;
}

.imgTarjeta {
    height:190px;
    overflow: hidden;
}

.precios {
    background-color: beige;
    opacity: 50%;
    font-weight: bold;
    border-radius: 0.5vw !important;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.botonComprar {
    opacity: 80%;
}

.botonComprar:hover{
    background-color: lightcoral;
    opacity: 100%;
}

.detalle:hover{
    background-color: lightcoral;
}

.detalle{
    margin:2%;
}